:root {
  /* fonts */
  --main-font-family: 'Open Sans', sans-serif;
  --heading-font-family: 'Montserrat', sans-serif;
  --heading-font-serif-1: 'Playfair Display', serif;
  --heading-font-serif-2: 'Lora', serif;

  /* colors */
  --dark-primary-color: #0288D1;
  --light-primary-color: #B3E5FC;
  --primary-color: #03A9F4;
  --accent-color: #FF9800;
  --text-icons-white: #FFFFFF;
  --primary-text: #212121;
  --secondary-text: #757575;
  --divider-color: #BDBDBD;

  --red: #E85454;
  --yellow-lighter: #FCECA4;
  --blue: #90C3D4;

  --almost-white: #f7f7f7;
  --gray-darker: #696969;
  --gray: #ccc;
  --gray-lighter: #E8E8E8;
  --gray-lightest: #F0F0F0;
  --almost-black: #282828;

  /* sizes */
  --space: 1rem;

  /* font-weights */
  --light: 300;
  --medium: 600;
  --heavy: 900;

  /* transitions */
  --smooth: ease-in-out 0.25s;
  --smooth-border: border 0.5s ease-in-out;

  /* box-shadows */
  --smooth-shadow: 0 2px 4px var(--almost-white), 0 2px 4px rgba(0,0,0,0.24);
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: black;
  box-sizing: border-box;
  font-size: 62.5%; /* 1 rem = 10 px */
}

body {
  background: var(--almost-white);
}




h1 {
  font-family: var(--heading-font-serif-2);
  font-size: 5vw;
  font-weight: var(--light);
  text-align: right;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0.25rem;
  color: var(--primary-text);
}

h2 {
  font-family: var(--heading-font-serif-2);
  font-size: 5vw;
  font-weight: var(--light);
  text-align: left;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0.25rem;
  color: var(--primary-text);
  grid-area: auto / span 2;
  border: 1px solid transparent;
  padding-left: calc(var(--space)*1);
}

h3 {
  font-family: var(--main-font-family);
  font-size: 1vw;
  font-weight: var(--medium);
  text-align: left;
  text-transform: capitalize;
  text-decoration: none;
  letter-spacing: 0.1rem;
  color: var(--almost-black);
}

h1::first-letter,
h2::first-letter, {
  text-transform: uppercase;
}




nav {
  width: 100%;
  margin-top: -20rem;
  position: fixed;
  z-index: 10000;
  background: #fff;
  transition: var(--smooth);
  box-shadow: var(--smooth-shadow);
}

nav ul {
  display: flex;
  flex-flow: row;
  align-items: flex-start;
  align-content: flex-start;
  justify-content: flex-start;
  background: inherit;
  font-family: var(--main-font-family);
  font-size: 1.8vw;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15rem;
  color: var(--almost-black);
  list-style-type: none;
  transition: var(--smooth);
}

nav ul li {
  flex: 0.1 1 auto; /* grow shrink basis */
  /* padding: 1.5rem 0 1.5rem 0; */
  background: transparent;
}

nav ul li:first-child {
  flex: 1 0 auto;
  background: transparent;
  margin-top: 1.5rem;
}

nav ul li:nth-child(2) {
  flex: 12 1 auto;
  background: transparent;
}

nav ul li a {
  font-size: inherit;
  text-decoration: inherit;
  color: var(--almost-black);
  transition: var(--smooth);
}

nav li a:hover {
  color: var(--dark-primary-color);
}

nav ul li img {
  width: 1.8rem;
  margin-top: -0.5rem;
  margin-right: 0.5rem;
}

nav button {
  padding: calc(var(--space)*2);
  background: transparent;
  border: none;
  transition: var(--smooth);
}

nav button:hover {
  background: var(--gray-lightest);
}

nav button:active {
  background: var(--gray-lighter);
}

main {
  display: grid;
  grid-template: auto / repeat(5, 1fr);
  grid-gap: 2rem;
  max-width: 85vw;
  height: auto;
  margin: 20rem auto 1rem auto;
  padding: 0;
  font-size: 6vw;
  transition: var(--smooth);
  border: 1px solid transparent;
}

footer {
 padding: calc(var(--space)*6);
 margin-top: 30rem;
 background: var(--gray-lighter);
}

footer p {
 padding: calc(var(--space)*0);
 font-family: var(--main-font-family);
 font-size: 0.7vw;
 font-weight: normal;
 text-align: center;
 text-transform: none;
 text-decoration: none;
 letter-spacing: 0.07rem;
 color: var(--secondary-text);
}

footer p a {
  font-size: inherit;
}

footer img {
  width: 2.5rem;
  margin-bottom: calc(var(--space)*2);
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}




#playersMainContent,
#playersGallery {
  display: display;
  grid-area: auto / span 5;
  grid-template: auto / repeat(4, 1fr);
}




.content {
  width: 100%;
  margin-bottom: calc(var(--space)*5);
  padding: calc(var(--space)*1.5);
  background: transparent;
  transition: var(--smooth);
  border: 1px solid transparent;
}

.content:hover {
  background: #fff;
  box-shadow: var(--smooth-shadow);
}

.content img {
  width: 100%;
  border-radius: 0.4rem;
}

.content p {
  font-family: var(--main-font-family);
  font-size: 0.8vw;
  font-weight: normal;
  text-align: left;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 0.07rem;
  color: var(--secondary-text);
}

.mainContent {
grid-area: auto / span 3;
display: grid;
grid-template: auto / repeat(3, 1fr);
grid-gap: 2rem;
max-width: 85vw;
height: auto;
margin: 0;
font-size: 6vw;
transition: var(--smooth);
border: 1px solid transparent;
}

.sorting {
  grid-area: auto / span 2;
  border: 1px solid transparent;
}

.sorting ul {
  padding-top: 5%;
  display: flex;
  flex-flow: row;
  align-items: flex-end;
  align-content: flex-end;
  justify-content: flex-end;
  background: inherit;
  font-family: var(--main-font-family);
  font-size: 1.8vw;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.15rem;
  color: var(--almost-black);
  list-style-type: none;
  transition: var(--smooth);
}

.sorting ul li {
  flex: 0.1 1 auto; /* grow shrink basis */
  /* padding: 1.5rem 0 1.5rem 0; */
  background: transparent;
}

.sorting button {
  padding: calc(var(--space)*1);
  background: var(--gray-lighter);
  border: none;
  border-radius: 0.4rem;
  transition: var(--smooth);
}

.sorting button:hover {
  background: pink;
  cursor: pointer;
}

.sorting button:active {
  background: var(--gray-lightest);
}
